/* .drag-group {
  min-height: 15rem;
} */

.drag-item {
  overflow: hidden;
  position: relative;
  width: 18.7rem;
  height: 14.2rem;
  background-color: #fff;
  border-radius: .5rem;
}

.drag-item iframe {
  width: 100%;
  height: 22rem;
  border: none;
}

.drag-item .drag,
.drag-item .delete {
  display: none;
}

.content .drag-group {
  display: flex;
  flex-wrap: wrap;
}

.content .drag-item {
  width: 30rem;
  min-width: 30rem;
  height: 30rem;
  margin: 0 4rem 4rem 0;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 3rem 3rem 0 rgba(59, 126, 191, 0.20), 0 .7rem 1rem 0 rgba(13, 94, 173, 0.20);
  resize: horizontal;
}

.content .drag-item .cont {
  display: block;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.content .drag-item .drag,
.content .drag-item .delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
}

.content .drag-item .drag {
  right: 4.4rem;
}

.content .drag-item.width-3x {
  width: 45rem;
}

.content .drag-item.width-4x {
  width: 60rem;
}